<!DOCTYPE html>
<html>
    <head>
    <title>Flask Index</title>
    <link href="static/main.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1>Account Details</h2>
            First Name: {{ first_name }}<br>
            Last Name: {{ last_name }}<br>
            Username: {{ username }}<br>
            Email address: {{ email }}<br>
            <button style="float: right;"><a href="/">Home Page</a></button>
            <button style="float: right;"><a href="/signout">Signout</a></button>
        </div>
    </body>
</html>