<!DOCTYPE html>
<html>
    <head>
    <title>Flask Index</title>
    <link href="static/main.css" rel="stylesheet">
    </head>
    <body>
        <h1><center>Hockey Shop</center></h2>
        <h1>YOU MUST REGISTER TO CONTINUE</h1>
        <div class="registration">
            <h2 style="color: red;">{{ error }}</h2>
            <form action="/registration" autocomplete="off" method="POST">
                <br><label class="required" for="first name">First name:</label>
                <h2 style="float: right;">Already have an account?</h2>
                <input classtype="text" id="first name" name="first name"><br><br>
                <label class="required" for="last name">Last name:</label>
                <p style="float: right;">Login <a href="/login">Here</a></p>
                <input type="text" id="last name" name="last name"><br><br>
                <label class="required" for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>
                <label class="required" for="email">Email address:</label>
                <input type="text" id="email" name="email"><br><br>
                <label class="required" for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <label class="required" for="confirmation">Confirm Password:</label>
                <input type="password" id="confirmation" name="confirmation"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
